__pycache__
capturas
capturas2
Raplim_stls
anim_cuadrado_IK.mp4
animation.mp4
animacion.py
Animacio_pv_cuadrado_IK.py
Animacion_raplim_alambres_NO_IK.py
Animación_raplim_pv.py
Dibujar_raplim_mpl.py
fig3d1.stl
model_checkpoint.pth